@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap');

body {
    margin: 0;
}


/*index page css*/

#i1 {
    position: relative;
    background-image: url("bg_pocetna.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /*Responzivna pozadina*/
    height: calc(100vh);
}

#i1 h1{
    color: #fff;
    font-style: italic;
    font-size: 30px;
    line-height: .85;
}

#i1 p{
    color: #fff;
    font-style: italic;
    font-size: 50px;
    line-height: .85;
}

#i1 .btn {
    color: rgb(255, 255, 255);
    background-color: rgb(33, 81, 185);
    text-transform: uppercase;
    font-weight: 700;
    padding: 15px 24px;
    transition-duration: 0.4s;
    outline: none;
}

#i1 .btn:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 59, 187);
    text-transform: uppercase;
    font-weight: 700;
    padding: 15px 24px;
    outline: none;
}

.home-slide-centered h1 {
    text-transform: uppercase;
    font-family: 'Rubik Mono One', sans-serif;
    font-weight: 600;
}

.home-slide-centered {
    display: table;
    width: 100%;
}

.padd-all {
    padding: 15% 25px;
}

.container {
    margin-right: auto;
    margin-left: auto;
}

/*CUSTOM NAVBAR*/
.my-nav{background-color: rgb(24, 1, 66);
    border-bottom: solid 3px rgb(7, 93, 192);
}
.my-nav .navbar-brand{
    color: rgb(255, 255, 255);
}
.my-nav a{
    font-family: 'Merriweather', serif;
    text-decoration: none;
}
.my-nav .navbar-brand:hover{
    color:rgb(255, 255, 255);
}

.my-nav .nav-link{color: aliceblue;
    margin: auto 0.2rem;
}

.my-nav .nav-link:hover{
    transition-duration: 0.5s;
    background-color: rgb(77, 48, 131); 
    border-radius: 10px;
}
.my-nav .active{background-color: rgb(77, 48, 131);  border-radius: 10px;}

/*REGISTER AND LOGIN CARD FORM*/
.card{
    height: auto;
    margin-top: 7rem;
    margin-bottom: auto;
    width: 25rem;
    font-family: 'Merriweather', serif;
    box-shadow: 0 0 3px rgb(0, 5, 5);
}

.card-header{
    text-align: center;
}

.card-header h3{
    margin-top: 0.5rem;
}

.card-body p{
    text-align: center;
    color: red;
}

#a-footer{
    text-decoration: none;
    color: black;
    
}

#a-footer p{
    text-align: center;
    margin-top: 1rem;
}

.btn-register{
    border: none;
    cursor: pointer;
    color: white;
    padding: 0.9rem;
    font-size: 20px;
    border-radius: 3px;
    background-color: rgb(139, 151, 255);
    transition-duration: 0.6s;
    outline: none;
}

.btn-register:hover{
    color: white;
    background-color: rgb(36, 109, 151);
}

.icon {
    padding: 12px;
    color: black;
    min-width: 40px;
}

/*CSS za turniri.php*/

.my-btn{
    color: white;
    background-color: rgb(155, 157, 165);
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 15px;
    font-weight: 700;
    padding: 7px 24px;
    transition-duration: 0.4s;
    outline: none;
    float:right;
}

.my-btn:hover{
    color: white;
    background-color: rgb(117, 117, 124);
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 15px;
    font-weight: 700;
    padding: 7px 24px;
    outline: none;
}

.my-btn:focus{
    outline: none;
}

/* MODAL form */

.modal{
    font-family: 'Merriweather', serif;
    color: black;
}

/*poredak i rezultati*/

.box{
    margin-top: 2rem; 
    border: 1px solid #d1d1d1;
    background-color: #fff;
    border-radius: 2px;
}


/*Edit button u rezultatima */
.editButton{
    cursor: pointer;
    border: 1px solid #d1d1d1;
    border-radius: 50%;
    background-color: hsl(0, 0%, 100%);
    transition-duration: 0.4s;
    outline: none;
}

.editButton:hover{
    cursor: pointer;
    border: 1px solid #d1d1d1;
    border-radius: 50%;
    background-color: rgb(238, 238, 238);
    outline: none;
}

.editButton:active{
    transform: translateY(2px);
}

.editButton:focus{
    outline: none;
}


.field{
    display:inline-block; 
}